import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faGithub, faTwitter } from '@fortawesome/free-brands-svg-icons';

<div class="text-center">
  <h3 class="text-xl font-semibold">#nawoto</h3>
  <div class="my-4">
    <h4 class="text-lg font-semibold">author</h4>
    <p class="mt-2">NISHIMURA Naoto</p>
    <p class="mt-2 text-sm">
      西村直人。おもにnawotoという名前でいろいろしています
    </p>
  </div>
  <div class="mt-4 flex justify-center space-x-4">
    <a
      href="https://github.com/nawoto"
      target="_blank"
      rel="noopener noreferrer"
      class="text-2xl hover:text-gray-600"
    >
      <FontAwesomeIcon icon={faGithub} />
    </a>
    <a
      href="https://twitter.com/nawoto"
      target="_blank"
      rel="noopener noreferrer"
      class="text-2xl hover:text-gray-600"
    >
      <FontAwesomeIcon icon={faTwitter} />
    </a>
  </div>
</div> 