---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { SITE } from '../config';
import TabNavigation from '../components/TabNavigation.astro';
import YearlyArticleList from '../components/YearlyArticleList.astro';
import { sortArticlesByDate } from '../utils/content';
import { getBacktraceUrl } from '../utils/url';
import { getLogSlug } from '../utils/slug';

const posts = sortArticlesByDate(await getCollection('backtrace'));
---

<Layout title={`BACKTRACE | ${SITE.title}`} image={SITE.images.backtraceOg}>
  <TabNavigation
    activeTab="backtrace"
    description="<strong>[WIP]</strong> 💭 かつて「はてな」で書いていたアジャイルな開発を夢見て奮闘してたときの記憶"
  />
  <div class="border-t border-solid border-gray-300 mt-0 mb-2"></div>
  <YearlyArticleList
    articles={posts}
    getArticleUrl={(_collection, slug) => getBacktraceUrl(getLogSlug(slug))}
    showBorder={true}
    activeTab="backtrace"
  />
</Layout>
