---
import Icon from './Icon.astro';
import { SITE } from '../config';

interface Props {
  className?: string;
  showImage?: boolean;
}

const { className = '', showImage = true } = Astro.props;
---

<div class={className}>
  <h3 class="hover-style border-y text-center text-2xl font-medium uppercase tracking-widest md:hidden">
    author
  </h3>
  <div class="hover-style h-card flex md:grid md:grid-cols-1">
    <div class="border md:mx-auto md:border-none md:pt-1">
      {showImage && (
        <img
          class="z-10 overflow-hidden rounded-full u-photo"
          src={SITE.images.profilePic}
          width="138"
          height="138"
          alt="Profile picture"
        />
      )}
    </div>
    <div class="w-full border-b p-1 md:text-center">
      <p class="text-lg font-bold">
        <a href="/" class="p-name u-url">
          {SITE.author.name}
        </a>
      </p>
      <p class="text-sm md:px-10 md:text-left">
        <span class="p-name">西村直人</span>。 おもに
        <span class="p-nickname">nawoto</span> という名前で
        <span class="p-note">いろいろしています</span>
      </p>
      <p class="text-right text-sm md:text-center">
        <a href="/about" class="uppercase underline">
          read me
        </a>
      </p>
      <ul class="flex flex-row justify-end pt-2 text-2xl md:justify-center">
        <li class="hover-style px-1">
          <a
            href="https://twitter.com/nawoto"
            class="u-url"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="x" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style px-1">
          <a
            href="https://github.com/nawoto/"
            class="u-url"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="github" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style px-1">
          <a
            href="https://speakerdeck.com/nawoto"
            class="u-url"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="speakerdeck" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style px-1">
          <a
            href="https://www.instagram.com/nawoto/"
            class="u-url"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="instagram" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style px-1">
          <a
            href="https://suzuri.jp/nawoto/"
            class="u-url"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="suzuri" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style pl-1">
          <a href="/rss.xml">
            <Icon name="rss" class="w-6 h-6" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> 