---
import Icon from './Icon.astro';
import { SITE } from '../config';

interface Props {
  className?: string;
  showImage?: boolean;
}

const { className = '', showImage = true } = Astro.props;
---

<aside aria-label="著者情報" class={"mt-4 md:mt-0 group " + className} itemprop="author" itemscope itemtype="http://schema.org/Person">
  <div class="hover-style h-card flex md:grid md:grid-cols-1">
    <div class="md:mx-auto md:border-none md:pt-1">
      {showImage && (
        <picture>
          <source srcset="/images/profile-pic.webp" type="image/webp" />
          <img
            class="z-10 overflow-hidden rounded-full u-photo mb-2 mt-2 md:mb-0 md:mt-0"
            src={SITE.images.profilePic}
            width="138"
            height="138"
            alt="Profile picture"
            loading="lazy"
          />
        </picture>
      )}
    </div>
    <div class="w-full p-1 md:text-center md:mt-2 mb-2 text-right md:text-center">
      <div class="mb-2 flex flex-row items-end gap-2 text-left md:block md:text-center">
        <div class="font-extrabold text-xl md:text-3xl">西村直人</div>
        <div class="font-extrabold text-xl text-gray-400 md:font-normal md:text-sm md:text-gray-400">NISHIMURA Naoto</div>
      </div>
      <div class="text-sm md:px-10 md:text-left mb-3 md:mb-2 text-left md:text-center">
        nawoto という名前でアジャイルな開発についていろいろやっていたら、気づけば本も書いてました。
      </div>
      <div class="mb-2 text-right md:text-center">
        <a href="/about" class="uppercase underline text-lg md:text-xl transition-colors duration-200 group-hover:text-green-400">&gt;&gt; READ ME</a>
      </div>
      <ul class="flex flex-row justify-end md:justify-center pt-2 text-2xl">
        <li class="hover-style px-1">
          <a
            href="https://bsky.app/profile/nawo.to"
            class="u-url transition-colors duration-200 group-hover:text-green-400"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="bluesky" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style px-1">
          <a
            href="https://twitter.com/nawoto"
            class="u-url transition-colors duration-200 group-hover:text-green-400"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="x" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style px-1">
          <a
            href="https://github.com/nawoto/"
            class="u-url transition-colors duration-200 group-hover:text-green-400"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="github" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style px-1">
          <a
            href="https://speakerdeck.com/nawoto"
            class="u-url transition-colors duration-200 group-hover:text-green-400"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="speakerdeck" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style px-1">
          <a
            href="https://www.instagram.com/nawoto/"
            class="u-url transition-colors duration-200 group-hover:text-green-400"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="instagram" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style px-1">
          <a
            href="https://suzuri.jp/nawoto/"
            class="u-url transition-colors duration-200 group-hover:text-green-400"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="suzuri" class="w-6 h-6" />
          </a>
        </li>
        <li class="hover-style pl-1">
          <a href="/rss.xml" class="transition-colors duration-200 group-hover:text-green-400">
            <Icon name="rss" class="w-6 h-6" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside> 