---
interface Props {
  className?: string;
}

const { className = '' } = Astro.props;
---

<div class={`text-center ${className}`}>
  <h3 class="text-xl font-semibold">#nawoto</h3>
  <div class="my-4">
    <h4 class="text-lg font-semibold">author</h4>
    <p class="mt-2">NISHIMURA Naoto</p>
    <p class="mt-2 text-sm">
      西村直人。おもにnawotoという名前でいろいろしています
    </p>
  </div>
  <div class="my-4">
    <h4 class="text-lg font-semibold">links</h4>
    <ul class="mt-2 space-y-2">
      <li>
        <a href="https://github.com/nawoto" class="link">GitHub</a>
      </li>
      <li>
        <a href="https://twitter.com/nawoto" class="link">Twitter</a>
      </li>
    </ul>
  </div>
</div> 