<footer class="brutalist-container">
  <div class="border-t pt-8 text-center text-sm text-gray-600">
    <p>
      © {new Date().getFullYear()}, NISHIMURA Naoto. Content licensed under <a
        href="https://creativecommons.org/licenses/by/4.0/"
        class="link">CC BY 4.0</a
      >.
    </p>
    <div class="mt-2">
      <a href="/privacy" class="link">Privacy Policy</a>
    </div>
  </div>
</footer>

