---
import { SITE } from '../config';

interface Props {
  title?: string;
  textColor?: string;
  showLink?: boolean;
}

const { 
  title = SITE.title,
  textColor = "",
  showLink = true
} = Astro.props;
---

<header>
  <div class="hover-style py-6">
    <h3 class={`text-center text-6xl font-black tracking-widest md:text-8xl ${textColor}`}>
      {showLink ? (
        <a href="/">{title}</a>
      ) : (
        title
      )}
    </h3>
  </div>
  <nav>
    <ul class="grid grid-cols-2 divide-x text-center text-lg uppercase md:grid-cols-4">
      <li class="hover-style border-y">
        <a href="/">top</a>
      </li>
      <li class="hover-style border-y">
        <a href="/logs">log</a>
      </li>
      <li class="hover-style border-b md:border-y">
        <a href="/texts">texts</a>
      </li>
      <li class="hover-style border-b md:border-y">
        <a href="/about">about</a>
      </li>
    </ul>
  </nav>
</header> 