<footer class="brutalist-container">
  <div class="border-t pt-8 text-center text-sm text-gray-600">
    <p>© {new Date().getFullYear()}, NISHIMURA Naoto All Rights Reserved.</p>
    <div class="mt-2">
      <a href="/privacy" class="link">Privacy Policy</a>
    </div>
  </div>
</footer> 