---
interface Props {
  isRootPath?: boolean;
}

const { isRootPath = false } = Astro.props;
---

<header class="brutalist-container">
  <nav class="flex items-center justify-between border-b pb-4">
    <div class="flex space-x-6">
      <a href="/" class={`link ${isRootPath ? 'font-bold' : ''}`}>top</a>
      <a href="/logs" class="link">log</a>
      <a href="/texts" class="link">texts</a>
      <a href="/about" class="link">about</a>
    </div>
  </nav>
</header> 